/* minimum universal selector*/

*{  margin: 0;
    padding: 0;
    border: none;
}

body{background-color: grey;}
p{margin-bottom: 1em;}

h1{width: 50; height: 50;}


#wrapper{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,0.8);
    /*opacity 0.5% */
    
    padding: 1em;

}


/*------header---------*/

header{background-color: lightgray;
background-repeat: no-repeat;
background-position: top right;
background-size: 70%;

background:linear-gradient(90deg,#000 32.94% , #000 60%, rgba(250, 237, 237, 0) 70%, rgba(0,0,0,0.00) 100%),
url(images/whitehouse.png)  no-repeat top right/contain ;

 

p{color: white;}

height: 300px;
padding: 2em;}

.banner{width: 300px;
color: rgb(29, 230, 7);}

.btn{display: block;
background-color: darkred;
color: white;
padding: 10px;
border-radius: 10px;
width: 5em;
text-align: center;
text-decoration: none;}

/*------navigation---------*/

nav{background-color: grey; padding-right: 0.5em;}
nav a{color: black;
text-decoration: none;}
nav a:hover{text-decoration: underline;}
nav li{
    display: inline-block;
    margin-right:10px;
    padding: 10px;
    padding-left: 2em;
}

/* 3 ways to do "float" the many elements
normally going top to bottm 
right & left  - image right( or left) and text wrap it around
if prevent order distruprion? use "clear"  / */

/* -----------main----------- */

main{padding: 2em;}

.col-left{
    float: left;
    width: 48%;
}
.col-right{
    float:right;
    width:48%;

}

footer{clear: both;
    padding: 15em;}






